{% extends 'life/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>{{ action }} Workout for {{ workout_date_string }}</p>
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}