{% extends 'life/base.html' %}

{% load workout_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="pager">
                    <li class="previous"><a href="{% url 'workouts_home_date' previous_month previous_year %}">{{ previous_month_name }}</a></li>
                    <li class="button"><a href="{% url 'workouts_home_date' month year %}">{{ month_name }}</a></li>
                    <li class="next"><a href="{% url 'workouts_home_date' next_month next_year %}">{{ next_month_name }}</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% workout_calendar year month workouts %}
            </div>
        </div>
    </div>
{% endblock %}
