{% extends 'life/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for year in workouts.keys %}
                    <p>{{ year }}</p>
                    {% for months in workouts.year %}
                        <p>{{ months }}</p>
                    {% comment %}
                        <p>{{ month }}: {{ days|length }} Workouts</p>
                        <p>Month Sets: {{ months }}</p>
                        {% for day, workouts in days.items %}
                        {% endfor %}
                    {% endcomment %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}