{% extends 'life/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                YTD
            </div>
        </div>
        {% for year, months in ytd_months.items %}
            <div class="row">
                <div class="col-md-12">
                    {{ year }}: {{ ytd_sets }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if months %}
                        <ul>
                            {% for month, month_sets in months.items %}
                                <li>{{ month }}: {{ month_sets|length }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
    $(function () {
        var hc_json = {{ highcharts_json|safe }};
        hc_json.dataLabels.enabled = true;
        hc_json.legend.enabled = false;
        $('#container').highcharts(hc_json);
    });
    </script>
{% endblock %}