body {
    padding-top: 60px;
    font-size: 12pt;
}
.progress {
    text-align: center;
}
.progress-value {
    position: absolute;
    right: 0;
    left: 0;
}
.progress-bar {
    font-weight: bold;
    color: #000000;
}
.list-group-item {
    overflow: hidden;
}
.badge-only {
    font-size: 10pt;
    text-align: center;
}
.badge-only span {
    width: 100%;
    border: 2px solid #888;
    background: #66afe9;
}
.top-header {
    font-weight: bold;
    text-decoration: underline;
}

/* Workouts App */
table.month {
    margin: 0 0 20px 0;
}
td.mon, td.tue, td.wed, td.thu, td.fri, td.sat, td.sun {
    position: relative;
    padding: 5px;
    border: 1px solid #000;
    width: 220px;
    height: 130px;
}
td.today {
    background-color: #b2dba1;
}
td.filled {
    background-color: #f7ecb5;
}
span.dayNumber, span.dayNumberNoWorkouts {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 3px 5px 3px 5px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #eee;
    border-radius: 6%;
}
span.workoutAdd {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 7px 3px 7px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #eee;
    border-radius: 6%;
}
ul.calendar_day {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.calendar_day li {
}
.glyphicon {
    font-size: 12px;
}
span.notes {
    font-style: italic;
}