{% extends 'life/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row top-header">
            <div class="col-md-11">
                {{ message }}
            </div>
        </div>
    </div>
{% endblock %}