<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <title>Life!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'life_home' %}">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'diet_home' %}">Diet
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="{% url 'diet_home' %}">Daily</a></li>
                        <li><a class="nav-link" href="#">Reports</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'workouts_home' %}">Workouts
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="{% url 'workouts_home' %}">Calendar</a></li>
                        <li><a class="nav-link" href="{% url 'workouts_reports' %}">Reports</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Piano</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Tennis</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>