{% extends 'life/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            Welcome to Life!
            </div>
        </div>
    </div>
{% endblock %}